#p1 {
    color: blueviolet;
    background-color: burlywood;
}

#p2 {
    color: blueviolet;
    background-color: burlywood;
}

.p3 {
    color: black;
    background-color: red;
}

.p4 {
    color: blue;
    background-color: burlywood;
}
h1{
    margin-top: 5px;
    margin-left: 5px;
}